{% extends 'base.html.twig' %}

{% block title %}Info formation{% endblock %}

{% block body %}
    <div id="formationInfo">
            <div>
                <a href="{{ path('info_formation', {'id': formation.id}) }}">{{ formation }}</a>
            </div>
            <div id="listSessionFormation">
                <p>Sessions:</p>
                {% for session in formation.sessions %}
                    <div>
                        <a href='{{ path('info_session', {'id': session.id}) }}'>{{ session }}</a>
                        
                        {% set dureeTotal = 0 %}

                        {% for contenu in session.contenuSession %}  
                            {% set dureeTotal = dureeTotal + contenu.duree %}
                        {% endfor %}
                        
                        {# Conversion de la durée (total de minutes) sous format heure - min #}
                        {% set heureTotal = (dureeTotal/60)|round(0,'floor') %}
                        {% set minutesRestant = dureeTotal-(heureTotal*60) %}

                        {# Si heure > 1 ajouter un s au mot 'heure' #}
                        {% set hour = 'heure' %}
                        {% if heureTotal > 1 %}
                            {% set hour = hour ~ 's' %}
                        {% endif %}
                        
                        {# Si minute > 1 ajouter un s au mot 'minute' #}
                        {% set min = 'minute' %}
                        {% if minutesRestant > 1 %}
                            {% set min = min ~ 's' %}
                        {% endif %}

                        <p>Durée: {{ heureTotal ~ ' ' ~ hour ~ ' et ' ~ minutesRestant ~ ' '~ min}}</p>        
                    </div>
                {% endfor %}
            </div>
            <div id="addPage">

            </div>
    </div>

{% endblock %}
