{% extends 'base.html.twig' %}

{% block title %}Info formation {{ formation }}{% endblock %}

{% block body %}
    <div id="formationInfo">
        <div>
            <a href="{{ path('info_formation', {'id': formation.id}) }}">{{ formation }}</a>
        </div>
        <div id="listSessionFormation">
            {# nombre de session #}
            {% set nbSession = formation.sessions|length %}
            {# pluriel check #}
            {% set session = "Session" %}
            {% if nbSession > 1 %}
                {% set session = session ~ 's'%}
            {% endif %}
            <p>{{session ~':'}}</p>
              
            <div>
                {% for session in formation.sessions %}
                    <div>
                        <a href='{{ path('info_session', {'id': session.id}) }}'>{{ session }}</a>
                        
                            {# nombre de module #}
                            {% set nbModule = session.contenuSession|length %}
                            {# compteur #}
                            {% set i = 0 %}
                            {# pluriel check #}
                            {% set module = "Module" %}
                            {% if nbModule > 1 %}
                                {% set module = module ~ 's'%}
                            {% endif %}

                        <p>
                            {{ module ~ ':'}} 
                            {% for contenu in session.contenuSession %}
                                {{ contenu.module.name }}

                                {% set i = i + 1 %}
                                {# ajoute une virgule tand que ce n'est pas le dernier élément du tableau #}
                                {% if i < nbModule %}
                                    {{ ", "}}
                                {% endif %}
                            {% endfor %}
                        </p>

                        {% set dureeTotal = 0 %}

                        {% for contenu in session.contenuSession %}  
                            {% set dureeTotal = dureeTotal + contenu.duree %}
                        {% endfor %}
                        
                        {# Conversion de la durée (total de minutes) sous format heure - min #}
                        {% set heureTotal = (dureeTotal/60)|round(0,'floor') %}
                        {% set minutesRestant = dureeTotal-(heureTotal*60) %}

                        {# Si heure > 1 ajouter un s au mot 'heure' #}
                        {% set hour = 'heure' %}
                        {% if heureTotal > 1 %}
                            {% set hour = hour ~ 's' %}
                        {% endif %}
                        
                        {# Si minute > 1 ajouter un s au mot 'minute' #}
                        {% set min = 'minute' %}
                        {% if minutesRestant > 1 %}
                            {% set min = min ~ 's' %}
                        {% endif %}

                        <p>{{ heureTotal ~ ' ' ~ hour ~ ' et ' ~ minutesRestant ~ ' '~ min}}</p>        
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
