{% extends 'base.html.twig' %}

{% block title %}Liste des stagiaires{% endblock %}

{% block body %}
    <div id="formationList">
        {% for stagiaire in stagiaires %}
            <div>
                <div></div>
                <div>
                    <a href="{{ path('info_stagiaire', {'id': stagiaire.id}) }}">Stagiaire {{ stagiaire }}</a>
                </div>
            </div>
        {% endfor %}
    </div>
    <div id="addPage">
        {{ form_start(formAddStagiaire) }}
    
            {{ form_row(formAddStagiaire.firstName) }}
            {{ form_row(formAddStagiaire.lastName) }}
            {{ form_row(formAddStagiaire.sex) }}
            {{ form_row(formAddStagiaire.tel) }}
            {{ form_row(formAddStagiaire.city) }}
            {{ form_row(formAddStagiaire.birthday) }}
            {{ form_row(formAddStagiaire.email) }}

        {{ form_end(formAddStagiaire) }}
    </div>
{% endblock %}
