{% extends 'base.html.twig' %}

{% block title %}Liste Sessions{% endblock %}

{% block body %}
    <div id="sessionList">
        {% for session in sessions %}
            <div>
                <div>
                    <a href="{{ path('info_session', {'id': session.id}) }}">{{ session }}</a>
                </div>
                <div>
                    <div>
                        {% for contenu in session.contenuSession %}
                            <p>{{ contenu.module.categorie.name }}</p>
                        {% endfor %}
                    </div>
                    <div><a href='{{ path('info_formation', {'id': session.formation.id}) }}'>Formation: {{ session.formation }}</a></div>
                    <div><a href='{{ path('info_formateur', {'id': session.formateur.id}) }}'>Formateur: {{ session.formateur }}</a></div>
                    <p>{{ session.dateDebut | date('d/m/Y')}} - {{ session.dateFin | date('d/m/Y')}}</p>

                    <p>Place : {{ session.inscrit | length }}/{{ session.place}}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
