{% extends 'base.html.twig' %}

{% block title %}Hello SessionController!{% endblock %}

{% block body %}
    <div id="sessionInfo">
            <div>
                <a href="{{ path('info_session', {'id': session.id}) }}">{{ session }}</a>
            </div>
            <div>
                <p>{{ session.formation }}</p>
                <p>{{ session.formateur }}</p>
                <p>{{ session.dateDebut | date('d-m-Y') }} - {{ session.dateFin | date('d-m-Y') }}</p>
                {# <p>{{ session.contenuSession.duree }}</p> #}

                <div id="listStagiaireSession">
                    {% for stagiaire in session.inscrit %}
                        <p><a href='{{ path('info_stagiaire', {'id': stagiaire.id}) }}'>{{stagiaire}}</a></a><a href="{{ path('remove_from_session', {'idsession': session.id, 'idstagiaire': stagiaire.id}) }}"> X </a></p>
                    {% endfor %}
                </div>
                <h2>Non inscrit :</h2>
                <div id="listStagiaireNonInscrit">
                    {% for stagiaire in nonInscits %}
                        <p><a href='{{ path('info_stagiaire', {'id': stagiaire.id}) }}'>{{stagiaire}}</a><a href="{{ path('add_to_session', {'idsession': session.id, 'idstagiaire': stagiaire.id}) }}"> + </a></p>
                    {% endfor %}
                </div>
            </div>
    </div>

{% endblock %}
