{% extends 'base.html.twig' %}

{% block title %}Info session{% endblock %}

{% block body %}
    <div id="sessionInfo">
            <div>
                <a href="{{ path('info_session', {'id': session.id}) }}">{{ session }}</a>
            </div>
            <div>
                <p>{{ session.formation }}</p>
                <p>{{ session.formateur }}</p>
                <p>{{ session.dateDebut | date('d-m-Y') }} - {{ session.dateFin | date('d-m-Y') }}</p>
                {# <p>{{ session.contenuSession.duree }}</p> #}

                <div id="listModuleSession">
                    {% for module in session.contenuSession %}
                        <p><a href='{{ path('info_module', {'id': module.id}) }}'>{{module.module.name}}</a></a><a href="{{ path('remove_module_from_session', {'idsession': session.id, 'idmodule': module.id}) }}"> X </a></p>
                    {% endfor %}

                    {% for module in nonModule %}
                        <p><a href='{{ path('info_module', {'id': module.id}) }}'>{{module.module.name}}</a></a><a href="{{ path('remove_module_from_session', {'idsession': session.id, 'idmodule': module.id}) }}"> + </a></p>
                    {% endfor %}
                </div>

                <div id="listStagiaireSession">
                    <h2>Inscrit :</h2>

                    {% for stagiaire in session.inscrit %}
                        <p><a href='{{ path('info_stagiaire', {'id': stagiaire.id}) }}'>{{stagiaire}}</a></a><a href="{{ path('remove_stagiaire_from_session', {'idsession': session.id, 'idstagiaire': stagiaire.id}) }}"> X </a></p>
                    {% endfor %}

                    <h2>Non inscrit :</h2>

                    {% for stagiaire in nonInscrits %}
                        <p><a href='{{ path('info_stagiaire', {'id': stagiaire.id}) }}'>{{stagiaire}}</a><a href="{{ path('add_stagiaire_to_session', {'idsession': session.id, 'idstagiaire': stagiaire.id}) }}"> + </a></p>
                    {% endfor %}
                </div>
            </div>
    </div>

{% endblock %}
