{% extends 'base.html.twig' %}

{% block title %}Info session{% endblock %}

{% block body %}
    <div id="sessionInfo">
            <div>
                <h2><a href="{{ path('info_session', {'id': session.id}) }}">{{ session }}</a></h2>
            </div>
            <div>
                <p>{{ session.formation }}</p>
                <p>{{ session.formateur }}</p>
                <p>{{ session.dateDebut | date('d-m-Y') }} - {{ session.dateFin | date('d-m-Y') }}</p>
                {# <p>{{ session.contenuSession.duree }}</p> #}

                <div id="listModuleSession">
                    <h3>Contient :</h3>
                    {% for contenu in session.contenuSession %}
                        <p><a href='{{ path('info_module', {'id': contenu.module.id}) }}'>{{contenu.module.name}}</a></a><a href="{{ path('remove_module_from_session', {'idsession': session.id, 'idmodule': contenu.module.id}) }}"> X </a></p>
                    {% endfor %}

                    <h3>Ajoutez :</h3>
                    {{ form_start(formAddContenu) }}
                        {{ form_row(formAddContenu.duree) }}
                    {{ form_end(formAddContenu) }}
                </div>

                <div id="listStagiaireSession">
                    <h3>Inscrit :</h3>

                    {% for stagiaire in session.inscrit %}
                        <p><a href='{{ path('info_stagiaire', {'id': stagiaire.id}) }}'>{{stagiaire}}</a></a><a href="{{ path('remove_stagiaire_from_session', {'idsession': session.id, 'idstagiaire': stagiaire.id}) }}"> X </a></p>
                    {% endfor %}

                    <h3>Non inscrit :</h3>

                    {% for stagiaire in nonInscrits %}
                        <p><a href='{{ path('info_stagiaire', {'id': stagiaire.id}) }}'>{{stagiaire}}</a><a href="{{ path('add_stagiaire_to_session', {'idsession': session.id, 'idstagiaire': stagiaire.id}) }}"> + </a></p>
                    {% endfor %}
                </div>
            </div>
    </div>

{% endblock %}
