{% extends 'base.html.twig' %}

{% block title %}Liste des Formateurs{% endblock %}

{% block body %}
    <div id="formationList">
        {% for formateur in formateurs %}
            <div>
                <div></div>
                <div>
                    <a href="{{ path('info_formateur', {'id': formateur.id})  }}">Formateur {{ formateur }}</a>
                </div>
            </div>
        {% endfor %}
    </div>
    <div id="addPage">
        {{ form_start(formAddFormateur) }}
    
            {{ form_row(formAddFormateur.firstName) }}
            {{ form_row(formAddFormateur.lastName) }}
            {{ form_row(formAddFormateur.sex) }}
            {{ form_row(formAddFormateur.tel) }}
            {{ form_row(formAddFormateur.city) }}
            {{ form_row(formAddFormateur.birthday) }}
            {{ form_row(formAddFormateur.email) }}

        {{ form_end(formAddFormateur) }}
    </div>
{% endblock %}
